<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX9D7YnslDbp3xcTrn5tE8rvsZE3vU58I</string>
	<key>GCM_SENDER_ID</key>
	<string>178780010080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.superwheels</string>
	<key>PROJECT_ID</key>
	<string>superwheels-a24cb</string>
	<key>STORAGE_BUCKET</key>
	<string>superwheels-a24cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178780010080:ios:323f1441054ca9d4927505</string>
</dict>
</plist>